<div class="col">
    <div class="divp">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">FileName</th>

                </tr>
            </thead>
            <tbody id="tablep2">

            </tbody>
        </table>

    </div>
</div>